# This is a basic workflow to help you get started with Actions

name: "Modern-Android-Video-Streaming-Architecture 자동화 테스트"

# Controls when the workflow will run
on:
  # 메인에 머지되면 실행
  push:
    branches: [ "main" ]

  # "Run workflow" 버튼 눌러서 직접 실행할 수 있게 해줘요.
  workflow_dispatch:

# "워크플로우는 하나 이상의 job으로 구성되며, 순서대로 또는 동시에 실행할 수 있다"
# jobs:
#  build:
#    # 빌드
#  test:
#    needs: build  # build 끝나야 실행 (순서대로)
#  lint:
#    # build랑 동시에 실행 (병렬)
jobs:
  # This workflow contains a single job called "build"
  build:
    # job이 어디서 실행될지 정하는 거예요 (runs-on) 
    # runs-on: ubuntu-latest 이렇게 하면 GitHub이 제공하는 ubuntu 서버에서 돌아요. 
    runs-on: self-hosted

    # job 안에서 할 일들 목록이에요.
    steps:
      #  "GitHub에서 내 프로젝트 코드 다운받아"
      # 거의 모든 workflow 첫 번째 step이 checkout
      - uses: actions/checkout@v4

      # name: step의 이름 (GitHub Actions에서 보여요)
      # run: 실행할 명령어
      - name: Build Debug APK
        run: ./gradlew assembleDebug
        
