# This is a basic workflow to help you get started with Actions

name: "Modern-Android-Video-Streaming-Architecture 자동화 테스트"

# Controls when the workflow will run
on:
  # 메인에 머지되면 실행
  push:
    branches: [ "main" ]

  # "Run workflow" 버튼 눌러서 직접 실행할 수 있게 해줘요.
  workflow_dispatch:

# "워크플로우는 하나 이상의 job으로 구성되며, 순서대로 또는 동시에 실행할 수 있다"
# jobs:
#  build:
#    # 빌드
#  test:
#    needs: build  # build 끝나야 실행 (순서대로)
#  lint:
#    # build랑 동시에 실행 (병렬)
jobs:
  # This workflow contains a single job called "build"
  build:
    # job이 어디서 실행될지 정하는 거예요 (runs-on) 
    # runs-on: ubuntu-latest 이렇게 하면 GitHub이 제공하는 ubuntu 서버에서 돌아요. 
    runs-on: self-hosted

    # job 안에서 할 일들 목록이에요.
    steps:
      #  "GitHub에서 내 프로젝트 코드 다운받아"
      # 거의 모든 workflow 첫 번째 step이 checkout
      - uses: actions/checkout@v4

      # "GitHub Secrets에 저장한 값"
      # echo 내용을 출력해
      # Runner는 빈 컴퓨터라서 local.properties가 없거든요. 그래서 매번 만들어주는 거예요.
      - name: Create local.properties
        run: echo '${{ secrets.LOCAL_PROPERTIES }}' > ./local.properties

      # "gradlew 파일을 실행할 수 있게 해줘"
      - name: Grant execute permission
        run: chmod +x ./gradlew

      # 빌드 시작할 때: 저장된 캐시 있으면 불러옴 / 빌드 끝날 때: 자동으로 캐시 저장함
      # uses : GitHub에서 만든 캐시 도구 사용하겠다는 거예요.
      # path: 어떤 폴더를 저장할지예요.
      # key: 캐시 이름이에요.
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ hashFiles('**/*.gradle*') }}

      # name: step의 이름 (GitHub Actions에서 보여요)
      # run: 실행할 명령어
      - name: Build Debug APK
        run: ./gradlew assembleDebug
        
      # name: step의 이름 (GitHub Actions에서 보여요)
      # uses: GitHub에서 만든 업로드 도구 사용하겠다는 거예요. 빌드 결과물을 GitHub에 저장해줘요
      # with: 이 도구에 넘길 설정들이에요.
        #name : 업로드할 파일 묶음 이름이에요. GitHub에서 다운받을 때 이 이름으로 보여요.
        #path : 어떤 파일을 업로드할지 경로예요. *.apk는 "apk로 끝나는 파일 전부"라는 뜻이에요.
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: app/build/outputs/apk/debug/*.apk